<div
  class="root hd__s"
  [ngClass]="[
    useTheme.ifDark('bg-blue_2', 'bg-white'),
    useTheme.ifDark('text-gray_0', 'text-gray_1'),
  ]"
>
  <button
    (click)="resetForm()()"
    type="button"
    [ngClass]="useTheme.ifDark('bg-blue_3', 'bg-[#F9FAFE]')"
  >
    <span>Discard</span>
  </button>

  <button type="submit" [ngClass]="useTheme.ifDark('bg-blue__light', 'bg-blue__light')">
    <span>Save As Draft</span>
  </button>

  <button type="submit" class="bg-blue_0 text-white">
    <span>{{ isPendingSave() ? 'Pending...' : 'Save & Send' }}</span>
  </button>
</div>
