.hd__l {
  font-size: 36px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -1.5px;
}

.hd__m {
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.75px;
}

.hd__s {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
}

.hd__s__v {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.bd__m {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.1px;
}

.bd__m__v {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
}
