<a [routerLink]="pathID()" class="root" [ngClass]="useTheme.ifDark('bg-blue_2', 'bg-white')">
  <div class="item__header">
    <div class="header__left">
      <span class="hd__s text-gray_2">#</span>
      <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-gray_3')">{{
        inv().clientId
      }}</span>
    </div>

    <div class="header__right">
      <span class="bd__m" [ngClass]="useTheme.ifDark('text-white', 'text-[#858BB2]')">
        {{ inv().billToClientName }}
      </span>
    </div>
  </div>

  <div class="root__body">
    <div class="body__left">
      <span class="bd__m" [ngClass]="useTheme.ifDark('text-[#DFE3FA]', 'text-gray_2')">{{
        calcDueDate(inv())
      }}</span>

      <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-gray_3')"
        >{{ calcTotItems(inv()) }}
      </span>
    </div>

    <div class="body__right">
      <div class="right__bg" [style.background]="getBgByStatus(inv().status)"></div>

      <span class="hd__s" [style.color]="getTxtClrByStatus(inv().status)">
        •&nbsp;&nbsp;{{ inv().status }}
      </span>
    </div>
  </div>
</a>
