<div class="root" [ngClass]="useTheme.ifDark('bg-black_0', 'bg-white_0')">
  <app-go-back-mobile />

  <div class="root__title">
    <span class="hd__m" [ngClass]="useTheme.ifDark('text-white', 'text-gray_3')">New Invoice</span>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="root__form">
    <div class="form__bill_from">
      <span class="hd__s text-blue_0">Bill From</span>

      <div class="bill_from__street">
        <app-txt-form-input [txtInput]="billFromStreet" [ctrl]="getCtrl(billFromStreet.name)" />
      </div>

      <div class="bill_from__city_code">
        <app-txt-form-input [txtInput]="billFromCity" [ctrl]="getCtrl(billFromCity.name)" />
        <app-txt-form-input [txtInput]="billFromZip" [ctrl]="getCtrl(billFromZip.name)" />
      </div>

      <app-txt-form-input [txtInput]="billFromCountry" [ctrl]="getCtrl(billFromCountry.name)" />
    </div>

    <div class="form__bill_to">
      <span class="hd__s text-blue_0">Bill To</span>

      <app-txt-form-input [txtInput]="billToClientName" [ctrl]="getCtrl(billToClientName.name)" />

      <app-txt-form-input [txtInput]="billToClientMail" [ctrl]="getCtrl(billToClientMail.name)" />

      <app-txt-form-input [txtInput]="billToStreet" [ctrl]="getCtrl(billToStreet.name)" />

      <div class="bill_to__city_code">
        <app-txt-form-input [txtInput]="billToCity" [ctrl]="getCtrl(billToCity.name)" />
        <app-txt-form-input [txtInput]="billToZip" [ctrl]="getCtrl(billToZip.name)" />
      </div>

      <app-txt-form-input [txtInput]="billToCountry" [ctrl]="getCtrl(billToCountry.name)" />

      <app-invoice-date-input [ctrl]="getCtrl(invoiceDate.name)" />

      <app-payment-term-input [ctrl]="getCtrl(paymentTerm.name)" />
    </div>

    <div class="form__items_list">
      <span class="hd__m text-[#777F98]"> Items List </span>

      <div class="items_list__list">
        @for (item of itemsList(); track $index) {
          <app-txt-form-input [ctrl]="getItemCtrl($index, 'name')" [txtInput]="itemName" />
          <div class="list__row">
            <div class="row__left">
              <app-txt-form-input [ctrl]="getItemCtrl($index, 'qty')" [txtInput]="itemQty" />
              <app-txt-form-input [ctrl]="getItemCtrl($index, 'price')" [txtInput]="itemPrice" />

              <div class="left__total">
                <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_1', 'text-gray_2')"
                  >Total</span
                >

                <span class="hd__s" [ngClass]="useTheme.ifDark('text-gray_1', 'text-gray_2')">
                  {{ calcTot(item) }}
                </span>
              </div>
            </div>

            @if ($index) {
              <button class="row__trash">
                <div class="trash__svg">
                  <ng-container *ngComponentOutlet="SvgTrash" />
                </div>
              </button>
            }
          </div>
        }
      </div>
    </div>

    <div class="form__add_item">
      <button
        (click)="addItemToList()"
        type="button"
        class="add_item__btn"
        [ngClass]="useTheme.ifDark('bg-blue_3', 'bg-[#F9FAFE]')"
      >
        <span class="hd__s" [ngClass]="useTheme.ifDark('text-gray_1', 'text-gray_2')"
          >+ Add New Item</span
        >
      </button>
    </div>

    <button [type]="'submit'" class="bg-blue-600">click me</button>
  </form>
</div>
