<div
  class="root"
  [ngClass]="isDisabled() ? 'opacity-50 pointer-events-none' : 'opacity-100 pointer-events-auto'"
>
  <label>
    <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_1', 'text-gray_2')"
      >Invoice Date</span
    >
  </label>

  <input
    [formControl]="ctrl()"
    [type]="'date'"
    placeholder="..."
    class="root__input hd__s"
    [ngClass]="useTheme.ifDark('bg-blue_2 text-white border-0', 'bg-white text-gray_3 border')"
  />

  <span class="bd__m text-red-600">{{ errMsg() }} </span>
</div>
