.root {
  z-index: 9999;
  opacity: 0;
  right: 20px;

  @apply fixed top-5 h-[150px] w-[600px] bg-neutral-950 rounded-2xl;

  .root__close_area {
    z-index: 100;
    @apply absolute top-0 right-2 text-red-600 cursor-pointer;

    &:hover {
      @apply transition-all duration-200 scale-[1.2];
    }

    &:active {
      @apply scale-[0.6];
    }
  }

  .root__status {
    @apply relative top-1 pl-4;
    color: var(--clr);

    > span {
      @apply text-5xl;
    }
  }

  .root__msg {
    @apply mt-3 px-5;

    > span {
      @apply text-xl;
      display: block;
      color: var(--clr);
    }
  }

  .root__timer {
    @apply absolute bottom-0 left-0 w-full h-[10px] rounded-b-2xl;
    background: var(--clr);
  }
}
