<div class="root" [ngClass]="useTheme.ifDark('bg-black_0', 'bg-white_0')">
  <div class="root__go_back">
    <a [routerLink]="'/'" class="go_back__link">
      <div class="link__svg">
        <ng-container *ngComponentOutlet="SvgArrow" />
      </div>
      <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-black_0')">Go Back</span>
    </a>
  </div>

  <div class="root__header" [ngClass]="useTheme.ifDark('bg-blue_2', 'bg-white')">
    <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_0', 'text-[#858BB2]')"> Status </span>

    <div class="header__status">
      <div class="status__bg" [style.background]="getBgByStatus(currInvoice()?.status!)"></div>
      <span class="hd__s" [style.color]="getTxtClrByStatus(currInvoice()?.status!)">
        •&nbsp;&nbsp;{{ currInvoice()?.status }}</span
      >
    </div>
  </div>

  <div class="root__body" [ngClass]="useTheme.ifDark('bg-blue_2', 'bg-white')">
    <div class="body__header">
      <div class="header__top">
        <div class="top__client_id">
          <span class="hd__s" [ngClass]="useTheme.ifDark('text-gray_1', 'text-gray_2')">#</span>
          <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-black_0')">{{
            currInvoice()?.clientID
          }}</span>
        </div>

        <span class="hd__s" [ngClass]="useTheme.ifDark('text-gray_0', 'text-gray_2')">{{
          currInvoice()?.description
        }}</span>

        <div class="top__address bd__m" [ngClass]="useTheme.ifDark('text-gray_0', 'text-gray_2')">
          <span>{{ currInvoice()?.billFrom?.street }}</span>
          <span>{{ currInvoice()?.billFrom?.city }}</span>
          <span>{{ currInvoice()?.billFrom?.zip }}</span>
          <span>{{ currInvoice()?.billFrom?.country }}</span>
        </div>
      </div>
    </div>

    <div class="body__content">
      <div class="content__invoice_date">
        <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_0', 'text-gray_2')"
          >Invoice Date</span
        >
        <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-gray_3')">{{
          formatDate()
        }}</span>
      </div>

      <div class="content__bill_to">
        <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_0', 'text-gray_2')">Bill To</span>
        <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-gray_3')">{{
          currInvoice()?.billTo?.clientName
        }}</span>
      </div>

      <div class="content__payment_due">
        <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_0', 'text-gray_2')"
          >Payment Due</span
        >
        <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-gray_3')">{{
          paymentDue()
        }}</span>
      </div>

      <div class="content__bill_to_data">
        <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_0', 'text-gray_2')">{{
          currInvoice()?.billTo?.street
        }}</span>
        <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_0', 'text-gray_2')">{{
          currInvoice()?.billTo?.city
        }}</span>
        <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_0', 'text-gray_2')">{{
          currInvoice()?.billTo?.zip
        }}</span>
        <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_0', 'text-gray_2')">{{
          currInvoice()?.billTo?.country
        }}</span>
      </div>

      <div class="content__sent_to">
        <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_0', 'text-gray_2')">Sent To</span>
        <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-gray_3')">{{
          currInvoice()?.billTo?.clientMail
        }}</span>
      </div>
    </div>

    <div class="body__footer" [ngClass]="useTheme.ifDark('bg-blue_3', 'bg-[#F9FAFE]')">
      @for (el of currInvoice()?.items; track el.id) {
        <div class="footer__item">
          <div class="item__left">
            <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-gray_3')">
              {{ el.name }}
            </span>

            <div
              class="left__bottom hd__s"
              [ngClass]="useTheme.ifDark('text-gray_1', 'text-gray_2')"
            >
              <span> {{ el.qty }}&nbsp; </span>
              <span>x&nbsp;</span>
              <span>{{ formatMoney(el?.price!) }}</span>
            </div>
          </div>

          <div class="item__right">
            <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-gray_3')">
              {{ formatMoney(el.total) }}
            </span>
          </div>
        </div>
      }

      <div class="footer__total" [ngClass]="useTheme.ifDark('bg-gray_3', 'bg-blue__light')">
        <span class="bd__m" [ngClass]="useTheme.ifDark('text-white', 'text-white')"
          >Grand Total</span
        >

        <span class="hd__m" [ngClass]="'text-white'">
          {{ calcTotInvoice() }}
        </span>
      </div>
    </div>
  </div>

  <div class="root__footer" [ngClass]="useTheme.ifDark('bg-[#1E2139]', 'bg-white')">
    <button class="footer__edit" [ngClass]="useTheme.ifDark('bg-blue_3', 'bg-[#F9FAFE]')">
      <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-gray_2')">Edit</span>
    </button>

    <button class="footer__delete">
      <span class="hd__s text-white">Delete</span>
    </button>

    <button class="footer__mark bg-blue_0">
      <span class="hd__s text-white">Mark As Paid</span>
    </button>
  </div>
</div>
