<app-page-wrapper [waitClient]="true">
  <ng-template #contentRef>
    <div class="root">
      <div class="root__content" [style.--clr]="useMetaDir.cssVar()">
        <div id="csr_notice__svg_wrap" class="content__svg_wrap">
          <ng-container *ngComponentOutlet="useMetaDir.Svg()" />
        </div>

        <div class="content__body">
          <div class="body__span">
            @let dataStatus = props().status || useMetaDir.eventT();
            <span class="text-5xl sm:text-6xl font-extrabold">
              {{ dataStatus }}
            </span>
          </div>

          <div class="body__span">
            <span>{{ props().msg }}</span>
          </div>

          <div class="body__link">
            @if (props().tmpt === 'HOME') {
              <a routerLink="/" class="link__content txt__lg">Go Home</a>
            } @else if (props().tmpt === 'MAIL') {
              <a
                href="https://mail.google.com"
                target="_blank"
                rel="noopener"
                class="link__content txt__lg"
              >
                Open Gmail
              </a>
            }
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-page-wrapper>
