.root {
  @apply w-full min-h-[80vh] h-full flex items-center justify-center p-[25px];

  .root__content {
    color: var(--clr);
    @apply flex flex-col items-center gap-8;

    .content__svg_wrap {
      @apply w-[200px] h-[200px];

      @media (min-width: 450px) {
        @apply w-[250px] h-[250px];
      }
    }

    .content__body {
      @apply w-full flex flex-col gap-6;

      .body__span {
        @apply w-full flex justify-center items-center;

        > span {
          @apply txt__lg text-center;
        }
      }
      .body__link {
        @apply flex justify-center items-center border-2 rounded-xl;
        border-color: var(--clr);

        &:hover {
          @apply transition-all duration-300;
          cursor: pointer;
          color: white;
          background: var(--clr);
        }

        > a {
          @apply block w-full h-full px-4 py-2 text-center;
          pointer-events: auto;
        }
      }
    }
  }
}
