<div class="root">
  <label>
    <span class="bd__m" [ngClass]="useTheme.ifDark('text-gray_1', 'text-gray_2')">
      Payment Term
    </span>
  </label>

  <div class="root__input" [ngClass]="useTheme.ifDark('bg-blue_2 border-0', 'bg-white border')">
    <button (click)="toggle()" type="button" class="input__btn">
      <span class="hd__s" [ngClass]="useTheme.ifDark('text-white', 'text-gray_3')">{{
        val?.()
      }}</span>

      <div class="btn__svg" [style.rotate]="isVisible() ? '180deg' : '0deg'">
        <ng-container *ngComponentOutlet="SvgArrow" />
      </div>
    </button>

    <div
      class="input__options"
      [style.display]="isVisible() ? 'flex' : 'none'"
      [ngClass]="isVisible() ? ' pointer-events-auto' : 'pointer-events-none'"
    >
      @for (opt of options; track opt.id) {
        <button
          (click)="handleChange(opt.val)"
          type="button"
          [ngClass]="
            useTheme.ifDark(
              'text-white bg-blue_2 border-black_0',
              'text-gray_3 bg-white border-gray-300'
            )
          "
        >
          <span class="hd__s">{{ opt.val }}</span>
        </button>
      }
    </div>
  </div>

  <span class="bd__m text-red-600">{{ errMsg() }} </span>
</div>
